{% extends "base.html" %}
{% block mainblock %}

<div class="card-header">
    <h3>Average BMI Chart (by Backend)</h3>
</div>
<div class="card-body">
    <div class="container">
        <!-- Create a div where the graph will take place -->
        <div>
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>        
    </div>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='js/myChart3.js')}}"></script>

{% endblock %}

