{% extends "base.html" %}
{% block mainblock %}
    <div class="card-header">
        <h3>BMI Calculator</h3>
    </div>
    <div class="card-body">
        <div class="container">
            <label for="" class="weight_label">Weight (kilogram)</label>
            <input type="text" class="weight_input" placeholder="kg" size="18"> 
            <label for="" class="height_label">Height</label>
            <input type="text" class="height_input" placeholder="m or cm" size="18">

            <div class="pre_radio_space"> </div>
            <input class="radio_m_input" type="radio" id="m" name="length" value="length" checked>
            <label class="radio_me_label" for="meter">m</label>
            <input class="radio_cm_input" type="radio" id="cm" name="length" value="length">
            <label class="radio_cm_label" for="centimeter">cm</label>

            <!-- </div> -->

            <!-- Use Event Binding to Create Event -->
            <div class="pre_action_space">  </div>

            <button class="r1" type="button" id="bmi" origC="rgb(216, 210, 210)">Calculate</button>
            <button class="r2" type="button" id="clear" usrOn="0" origC="" origO="">Clear</button>

            <div class="output_space">
                <p>The Output Area</p>
            </div>
    
        </div>
    </div>
{% endblock %}