{% extends "base.html" %}
{% block mainblock %}
<div class="card-header">
  <h2>Upload recordings</h2>
</div>
<div class="card-body">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input name="type" type="hidden" value="upload">
            <div>
                <label for='upload'>Upload CSV file e.g. "admin@fitwell.com,2021-01-17T01:00,97,20,0,0,29"</label>
                <input class="upload" id='upload' name='file' type='file' accept='.csv' required>
            </div>
            <div>
                <input type="submit" value="Upload" type="Upload"/>
            </div>
        </form>
</div>
{% endblock %}
